<template>
  <div id="home-base">
    <div id="home-container">
      <div class="welcomewords-container">
        <HomeWelcomeWords />
      </div>
    </div>

    <div class="cards-section-container">
      <h2>Hari Ini</h2>
      <div class="cards-container">
        <InstagramDiscountCard
          v-for="today in instagramDiscountCardsToday"
          v-bind:key="today.id"
          v-bind:media="today"
        >
        </InstagramDiscountCard>
      </div>
    </div>

    <div class="cards-section-container">
      <h2>Kemarin</h2>
      <div class="cards-container">
        <InstagramDiscountCard
          v-for="yesterday in instagramDiscountCardsYesterday"
          v-bind:key="yesterday.id"
          v-bind:media="yesterday"
        >
        </InstagramDiscountCard>
      </div>
    </div>

    <div class="cards-section-container">
      <h2>Dua Hari Lalu dan Sebelumnya</h2>
      <div class="cards-container">
        <InstagramDiscountCard
          v-for="moreThan2DaysAgo in instagramDiscountCardsMoreThan2DaysAgo"
          v-bind:key="moreThan2DaysAgo.id"
          v-bind:media="moreThan2DaysAgo"
        >
        </InstagramDiscountCard>
      </div>
    </div>
  </div>
</template>

<script>
import HomeWelcomeWords from "@/components/HomeWelcomeWords.vue";
import InstagramDiscountCard from "@/components/InstagramDiscountCard.vue";
// @ is an alias to /src
export default {
  name: "Home",
  components: {
    HomeWelcomeWords,
    InstagramDiscountCard,
  },
  data: function () {
    return {
      instagramDiscountCardsToday: [],
      instagramDiscountCardsYesterday: [],
      instagramDiscountCardsMoreThan2DaysAgo: [],
    };
  },
  mounted() {
    Promise.all([
      this.getInstagramMedias("diskon.indonesia", 20),
      this.getInstagramMedias("diskondansale", 20),
    ]).then((response) => {
      this.instagramDiscountCardsToday = this.getMediasBasedOnTime(
        response,
        "today"
      );
      this.instagramDiscountCardsYesterday = this.getMediasBasedOnTime(
        response,
        "yesterday"
      );
      this.instagramDiscountCardsMoreThan2DaysAgo = this.getMediasBasedOnTime(
        response,
        "moreThan2DaysAgo"
      );
    });
  },
  methods: {
    getInstagramMedias: function (username, count) {
      return this.$http.get(
        `https://instagram-proxy-php.herokuapp.com/api/instagram/medias?username=${username}&count=${count}`
      );
    },
    getMediasBasedOnTime: function (response, time) {
      var mediasArray = [];
      response.forEach((element) => {
        if (element.data.medias[time] !== undefined) {
          mediasArray = mediasArray.concat(element.data.medias[time]);
        }
      });
      return mediasArray;
    },
  },
};
</script>

<style>
#home-base {
  background-color: #f5f5f5;
}

.welcomewords-container {
  width: 50%;
  margin: auto;
}

#home-container {
  background-color: white;
}

.cards-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
  justify-items: center;
}

.cards-section-container {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 501px) and (max-width: 1000px) {
  .welcomewords-container {
    width: 70%;
  }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  .welcomewords-container {
    width: 100%;
  }
}
</style>
