<template>
  <div id="homewelcomewords-base">
    <div id="container">
      <div id="container-words">
        <h1>
          Temukan potongan harga dan promo terkini dari brand favoritmu
          sekarang.
        </h1>
      </div>
      <img src="@/assets/vector-diskonhp.png" alt="Vector diskon" />
    </div>
  </div>
</template>

<script>
export default {
  name: "HomeWelcomeWords",
};
</script> 
<style scoped>
#container {
  height: 400px;
  display: flex;
  margin: auto;
  justify-content: center;
}

#container img {
  height: 100%;
}

@media screen and (min-width: 501px) and (max-width: 1000px) {
  
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  #container {
    flex-direction: column;
    justify-content: start;
    height: auto;
    text-align: center;
  }

  #container img {
    height: 300px;
    object-fit: contain;
  }


}

</style>