<template>
  <div id="instagramdiscountcard-base">
    <div id="container-card-front">
      <div id="container-image">
        <img v-bind:src="media.highResImageUrl" alt="" />
      </div>
      <div id="container-words">
        <div id="idandwords">
          <p style="padding: 0px; margin-top: 0">
            @{{ media.account.username }} on Instagram
          </p>
          <div class="text-description">
            {{ media.caption }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "InstagramDiscountCard",
  props: {
    media: Object,
  },
};
</script>

<style scoped>
#instagramdiscountcard-base {
  margin: 0.5rem 0;
}
#container-card-front {
  width: 300px;
  height: 280px;
  border-radius: 5px;
  background-color: white;
}

#container-card-front:hover {
  cursor: pointer;
}

#container-words {
  padding: 10px;
}

#container-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

#idandwords {
  max-height: 120px;
}

a {
  text-decoration: none;
}

.text-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>