<template>
  <div id="app">
    <div class="navigation-bar" v-bind:class="{ scrollDown: isScrollDown }">
      <img alt="Cari Diskon logo" src="@/assets/caridiskonlogo.png" />
    </div>
    <router-view />
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      isScrollDown: false,
    };
  },
  mounted() {
    document.addEventListener("scroll", this.onScroll);
  },
  destroyed() {
    document.removeEventListener("scroll", this.onScroll);
  },
  methods: {
    onScroll: function () {
      /**
       * SOURCE: https://medium.com/@Taha_Shashtari/hide-navbar-on-scroll-down-in-vue-fb85acbdddfe
       */
      const currentScrollPosition =
        window.pageYOffset || document.documentElement.scrollTop;
      if (currentScrollPosition > 0) {
        this.isScrollDown = true;
      } else {
        this.isScrollDown = false;
      }
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.navigation-bar {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  background-color: white;
  position: sticky;
  top: 0;
  width: 100%;
  transition: background-color 0.5s ease;
}

#filler {
  height: 45px;
}

.navigation-bar img {
  width: 100px;
  object-fit: contain;
}

.scrollDown {
  background-color: #e7e7e7;
  border-bottom: thin solid #CCCCCC;
}
</style>
